.super-mario {
    width: 150px;
    position: absolute;
    top: 60px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 260px;
    left: 90px;
    
  }
  
  .baloon {
    width: 200px;
    position: absolute;
    top: 60px;
    left: 150px;
  
  }
  
  .speech {
    font-size: 17px;
    position: absolute;
    top: 80px;
    left: 160px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px; 
    position: absolute ;
    top: 150px;
    left: 320px;
  }